@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<div class="cursor" id="customCursor"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeCustomCursor");
        }
    }
}

