@using NewPortfolio.Components.Sections
@using NewPortfolio.Components.Shared
@inherits LayoutComponentBase

<div>
    <CustomCursor />
    <main>
        <Navbar />
        <Introduction @rendermode="RenderMode.InteractiveServer" />
    </main>
</div>
