.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 8vh;
    background: pink;
}

.navbar__links-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.navbar__home-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}

.navbar__link-container {
    position: relative;
    margin: 1rem;
    padding: 2px 5px;
    --border-thickness: 2px;
    --border-color: var(--blue-color);
    --corner-size: 10px;
    outline: var(--border-thickness) solid transparent;
}

    .navbar__link-container::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        background: conic-gradient(from 90deg at top var(--border-thickness) left var(--border-thickness), transparent 85deg, var(--border-color) 0) 0 0 / var(--corner-size) var(--corner-size) border-box no-repeat, conic-gradient(from 180deg at top var(--border-thickness) right var(--border-thickness), transparent 85deg, var(--border-color) 0) 100% 0 / var(--corner-size) var(--corner-size) border-box no-repeat, conic-gradient(from 0deg at bottom var(--border-thickness) left var(--border-thickness), transparent 85deg, var(--border-color) 0) 0 100% / var(--corner-size) var(--corner-size) border-box no-repeat, conic-gradient(from -90deg at bottom var(--border-thickness) right var(--border-thickness), transparent 85deg, var(--border-color) 0) 100% 100% / var(--corner-size) var(--corner-size) border-box no-repeat;
    }

    .navbar__link-container:hover::before {
        opacity: 1;
    }

.navbar__link {
    position: relative;
    font-size: 24px;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
    color: var(--text-color, black);
    z-index: 0;
    transition: color 0.5s ease-in-out;
}

    .navbar__link:hover {
        outline: 1px dashed var(--lightBlue-color);
        color: var(--blue-color);
        cursor: pointer;
    }

    .navbar__link::after {
        content: "";
        position: absolute;
        inset: -4px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;
    }

    .navbar__link:hover::after {
        opacity: 1;
    }
