<nav class="navbar__container">
	<div class="navbar__home-container">
		<div class="navbar__link-container">
			<a class="navbar__link navbar__home">C</a>
		</div>
	</div>
	<div class="navbar__links-container">
		<div class="navbar__link-container">
			<a class="navbar__link">Home</a>
		</div>
		<div class="navbar__link-container">
			<a class="navbar__link">About</a>
		</div>
		<div class="navbar__link-container">
			<a class="navbar__link">Projects</a>
		</div>
		<div class="navbar__link-container">
			<a class="navbar__link">More</a>
		</div>
	</div>
</nav>


@code {

}
