:root {
    --lightBlue: #1EC8D4;
    --blue: #463FCC;
    --lightCyan: #E0FFFF;

    --lightGray: #e4e4e4;
    --gray: #6b7688;

    --background: #FFFFFF;
    --text: #3A4242;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: var(--background);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0 16px;
}

a {
    color: var(--text);
}

.page-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100vw;
}

