:root {
    --lightBlue-color: #1EC8D4; 
    --blue-color: #463FCC;
    --background-color: #FFFFFF;
    --text-color: #3A4242; 
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

a {
    color: var(--text-color);
}

.page-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100vw;
}

