:root {
    --lightBlue-color: #1EC8D4; 
    --blue-color: #463FCC;
    --background-color: #EDF2F8;
    --text-color: #3A4242; 
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--text-color);
}

